<button *ngIf="isActive" (click)="onShowUsers()">Show Users</button>
<button *ngIf="!isActive" (click)="onShowUsers()">Hide Users</button>

<div *ngIf="!isActive">
  <h2>Users list</h2>
  <ul>
    <li *ngFor="let user of users" (click)="onSelect(user)">
      <span>{{ user.userName }} </span>
    </li>
  </ul>

  <div *ngIf="selectedUser">
    <h2>{{ selectedUser.userName }} info:</h2>
    <div><span>First Name: </span> {{ selectedUser.firstName }}</div>
    <div><span>Last Name: </span> {{ selectedUser.lastName }}</div>
    <div><span>Sex: </span>{{ selectedUser.sex }}</div>
    <div><span>Age: </span>{{ selectedUser.age }}</div>
  </div>
</div>
