<div class="user-btn">
  <button *ngIf="isActive" (click)="onShowUsers()">Show Users</button>
  <button *ngIf="!isActive" (click)="onShowUsers()">Hide Users</button>
</div>

<div *ngIf="!isActive" class="container">
  <div class="user-list">
    <h2>Users list</h2>
    <ul>
      <li
        *ngFor="let user of users"
        (click)="onSelect(user)"
        [class.selected]="user === selectedUser"
        class="user-field"
      >
        <span>{{ user.userName }}</span>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedUser" class="user-info">
    <h3>{{ selectedUser.userName }} :</h3>
    <div><span>First Name: </span> {{ selectedUser.firstName }}</div>
    <div><span>Last Name: </span> {{ selectedUser.lastName }}</div>
    <div><span>Sex: </span>{{ selectedUser.sex }}</div>
    <div><span>Age: </span>{{ selectedUser.age }}</div>
  </div>
</div>
